<h1>Listing people</h1>

<table>
	
  <tr>
    <th width="200" align="left">Name</th>
	<th align="left">EMail</th>
  </tr>

<% @people.each do |person| %>
  <tr>
    <td width="200" align="left"><%= person.name %></td>
    <td align="left"><%= person.email %></td>
  </tr>
<% end %>

</table>